.container{
  height: 360px;
  width:400px;
  background-color: black;
  align-self: center;
  margin-left: 35%;
  margin-top: 25px;
  padding-top: 10px;
  
  
  
}
.table{
  height: 320px;
  width: 380px;
 margin-left: 10px;
 font-weight: bold;
 font-size: 20px;
  text-align:  center;
  color:white;
  margin-top: 1px;
}
.header{
  font-size: 25px;
  font-weight: bolder;

}
